---
import Layout from "../layouts/Layout.astro"
import RickAndMorty from "./RickAndMorty.astro"
---

<Layout>
    <main class="bg-purple-950 grow min-h-screen">
        <div class="justify-center justify-items-center mx-auto">
            <h1 class="uppercase  text-white text-3xl font-extrabold text-center">elije uno de tus personajes favoritos</h1>
        </div>
        <RickAndMorty />
    </main>

    
</Layout>