<footer>
    <div class="justify-center bg-cyan-700 py-20">
        <div class=" grid grid-cols-3 justify-center justify-items-center  pt-6 pb-6 gap-6 ">
            <p class="text-3xl text-white"> <a href="/">RICK AND MORTY</a></p>
            <p class="text-3xl text-white"> <a href="/">COPYRIGHT</a></p>
            <p class="text-3xl text-white"> <a href="/">COPYRIGHT</a></p>
        </div>
    </div>
</footer>