---
import Menu from "./Menu.astro";


---
<header>
    <div class=" justify-between  bg-slate-900">
        <div class="grid grid-cols-3 pt-5 pb-5 px-10 items-center space-x-10 gap-10">
            <img src="https://beam-images.warnermediacdn.com/BEAM_LWM_DELIVERABLES/ab553cdc-e15d-4597-b65f-bec9201fd2dd/614517ed-3837-11f0-b9dc-12119106e6a1?host=wbd-images.prod-vod.h264.io&partner=beamcom&w=4320" alt="logo" class="h-35 w-120">

            <p class="text-semibold text-white text-2xl">ESCOGE A TUS PERSONAJES</p>

            <Menu>
        

        </div>

    </div>
</header>